<div class="column is-3">
  <div class="card" id="presentation-<%= presentation.id %>">
    <div class="card-image">
      <figure class="image is-4by3">
        <% if presentation.cover %>
          <%= image_tag presentation.cover.variant(resize_to_fit: [640, 480]) %>
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-6">
            <%= truncate presentation.name, length: 25 %>
          </p>
          <p class="subtitle is-7 is-muted is-family-monospace">
            <%= distance_of_time_in_words_to_now presentation.created_at %>
          </p>
        </div>

        <div class="media-right">
          <div class="dropdown is-hoverable is-right is-up">
            <div class="dropdown-trigger">
              <button class="button is-small is-white" aria-haspopup="true">
                <span class="icon is-small has-text-grey-lighter">
                  <i class="fas fa-ellipsis-v"></i>
                </span>
              </button>
            </div>

            <div class="dropdown-menu">
              <div class="dropdown-content">
                <%= link_to t('.preview'),
                  dashboard_preview_url(presentation),
                  class: 'dropdown-item',
                  target: '_blank' %>

                <%= link_to t('.edit'),
                  edit_dashboard_presentation_url(presentation),
                  class: 'dropdown-item' %>

                <%= link_to t('.remove'),
                  dashboard_presentation_url(presentation),
                  class: 'dropdown-item has-text-danger',
                  method: :delete,
                  data: { confirm: t('.confirm') } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
