<div class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Presentations
      </h1>
      <h2 class="subtitle is-4 is-muted">
        Preview, create and edit your amazing presentations
      </h2>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <%= link_to new_dashboard_presentation_url, class: '' do %>
              <figure class="image is-4by3">
                <%= image_tag 'new-presentation-cover.png' %>
              </figure>
            <% end %>
          </div>
          <div class="card-content has-text-centered">
            <%= link_to new_dashboard_presentation_url, class: 'button is-info is-small is-fullwidth' do %>
              <%= t '.new' %>
            <% end -%>
          </div>
        </div>
      </div>

      <%= render @presentations, as: :presentation %>
    </div>

    <div class="column is-4 is-offset-4">
      <%== pagy_bulma_nav(@pagy) if @pagy.next %>
    </div>
  </div>
</section>
